.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chooseColor{
  padding: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 33px;
  height: 33px;
  margin-right: 10px;
}